<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3343</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>1000</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>ROS</string>
        <key>value</key>
        <string>Adobe-Identity-0</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>94DDBC6A-1627-4027-9125-871D02041BCD</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array/>
    <key>com.schriftgestaltung.iconName</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>Heavy</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni4E3D</string>
      <string>uni4E49</string>
      <string>uni4E60</string>
      <string>uni5170</string>
      <string>uni5173</string>
      <string>uni529E</string>
      <string>uni52A8</string>
      <string>uni53D1</string>
      <string>uni5B9E</string>
      <string>uni5BBE</string>
      <string>uni5C49</string>
      <string>uni6001</string>
      <string>uni65F6</string>
      <string>uni6811</string>
      <string>uni6837</string>
      <string>uni6C47</string>
      <string>uni6C49</string>
      <string>uni7237</string>
      <string>uni743C</string>
      <string>uni7535</string>
      <string>uni7E9F</string>
      <string>uni7EA2</string>
      <string>uni7ECF</string>
      <string>uni7ED9</string>
      <string>uni8054</string>
      <string>uni8BA0</string>
      <string>uni8BA1</string>
      <string>uni8BA4</string>
      <string>uni8BA9</string>
      <string>uni8BBE</string>
      <string>uni8BDD</string>
      <string>uni8BED</string>
      <string>uni8BF4</string>
      <string>uni8BF7</string>
      <string>uni8BFE</string>
      <string>uni8C01</string>
      <string>uni8FD8</string>
      <string>uni9485</string>
      <string>uni95E8</string>
      <string>uni95EE</string>
      <string>uni98CE</string>
      <string>uni98DE</string>
      <string>uni9963</string>
      <string>uni996D</string>
      <string>uni9971</string>
      <string>uni9A6C</string>
      <string>uni9F99</string>
      <string>space</string>
      <string>.notdef</string>
    </array>
  </dict>
</plist>
