<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni4E07</key>
    <string>uni4E_07.glif</string>
    <key>uni4E08</key>
    <string>uni4E_08.glif</string>
    <key>uni4E0D</key>
    <string>uni4E_0D_.glif</string>
    <key>uni4E14</key>
    <string>uni4E_14.glif</string>
    <key>uni4E15</key>
    <string>uni4E_15.glif</string>
    <key>uni4E3B</key>
    <string>uni4E_3B_.glif</string>
    <key>uni4E4D</key>
    <string>uni4E_4D_.glif</string>
    <key>uni4E4E</key>
    <string>uni4E_4E_.glif</string>
    <key>uni4E5E</key>
    <string>uni4E_5E_.glif</string>
    <key>uni4E69</key>
    <string>uni4E_69.glif</string>
    <key>uni4E71</key>
    <string>uni4E_71.glif</string>
    <key>uni4E88</key>
    <string>uni4E_88.glif</string>
    <key>uni4ED6</key>
    <string>uni4E_D_6.glif</string>
    <key>uni4ED7</key>
    <string>uni4E_D_7.glif</string>
    <key>uni4ED8</key>
    <string>uni4E_D_8.glif</string>
    <key>uni4EDE</key>
    <string>uni4E_D_E_.glif</string>
    <key>uni4EDF</key>
    <string>uni4E_D_F_.glif</string>
    <key>uni4EE3</key>
    <string>uni4E_E_3.glif</string>
    <key>uni4EF6</key>
    <string>uni4E_F_6.glif</string>
    <key>uni4F0F</key>
    <string>uni4F_0F_.glif</string>
    <key>uni4F10</key>
    <string>uni4F_10.glif</string>
    <key>uni4F2F</key>
    <string>uni4F_2F_.glif</string>
    <key>uni4F43</key>
    <string>uni4F_43.glif</string>
    <key>uni4F5C</key>
    <string>uni4F_5C_.glif</string>
    <key>uni4F60</key>
    <string>uni4F_60.glif</string>
    <key>uni4F70</key>
    <string>uni4F_70.glif</string>
    <key>uni4F73</key>
    <string>uni4F_73.glif</string>
    <key>uni4F7B</key>
    <string>uni4F_7B_.glif</string>
    <key>uni4F8D</key>
    <string>uni4F_8D_.glif</string>
    <key>uni4F91</key>
    <string>uni4F_91.glif</string>
    <key>uni4F9B</key>
    <string>uni4F_9B_.glif</string>
    <key>uni4FC3</key>
    <string>uni4F_C_3.glif</string>
    <key>uni4FC4</key>
    <string>uni4F_C_4.glif</string>
    <key>uni4FCE</key>
    <string>uni4F_C_E_.glif</string>
    <key>uni4FD0</key>
    <string>uni4F_D_0.glif</string>
    <key>uni4FD1</key>
    <string>uni4F_D_1.glif</string>
    <key>uni4FDD</key>
    <string>uni4F_D_D_.glif</string>
    <key>uni4FF1</key>
    <string>uni4F_F_1.glif</string>
    <key>uni501A</key>
    <string>uni501A_.glif</string>
    <key>uni5021</key>
    <string>uni5021.glif</string>
    <key>uni5028</key>
    <string>uni5028.glif</string>
    <key>uni5047</key>
    <string>uni5047.glif</string>
    <key>uni5085</key>
    <string>uni5085.glif</string>
    <key>uni50F5</key>
    <string>uni50F_5.glif</string>
    <key>uni5146</key>
    <string>uni5146.glif</string>
    <key>uni514B</key>
    <string>uni514B_.glif</string>
    <key>uni5176</key>
    <string>uni5176.glif</string>
    <key>uni517C</key>
    <string>uni517C_.glif</string>
    <key>uni5195</key>
    <string>uni5195.glif</string>
    <key>uni5197</key>
    <string>uni5197.glif</string>
    <key>uni51B0</key>
    <string>uni51B_0.glif</string>
    <key>uni51E1</key>
    <string>uni51E_1.glif</string>
    <key>uni51E6</key>
    <string>uni51E_6.glif</string>
    <key>uni5208</key>
    <string>uni5208.glif</string>
    <key>uni520A</key>
    <string>uni520A_.glif</string>
    <key>uni5211</key>
    <string>uni5211.glif</string>
    <key>uni5212</key>
    <string>uni5212.glif</string>
    <key>uni522B</key>
    <string>uni522B_.glif</string>
    <key>uni522E</key>
    <string>uni522E_.glif</string>
    <key>uni5236</key>
    <string>uni5236.glif</string>
    <key>uni524A</key>
    <string>uni524A_.glif</string>
    <key>uni524D</key>
    <string>uni524D_.glif</string>
    <key>uni5269</key>
    <string>uni5269.glif</string>
    <key>uni526F</key>
    <string>uni526F_.glif</string>
    <key>uni52D2</key>
    <string>uni52D_2.glif</string>
    <key>uni5347</key>
    <string>uni5347.glif</string>
    <key>uni5357</key>
    <string>uni5357.glif</string>
    <key>uni535C</key>
    <string>uni535C_.glif</string>
    <key>uni5360</key>
    <string>uni5360.glif</string>
    <key>uni53CB</key>
    <string>uni53C_B_.glif</string>
    <key>uni53CC</key>
    <string>uni53C_C_.glif</string>
    <key>uni5403</key>
    <string>uni5403.glif</string>
    <key>uni5427</key>
    <string>uni5427.glif</string>
    <key>uni548C</key>
    <string>uni548C_.glif</string>
    <key>uni54ED</key>
    <string>uni54E_D_.glif</string>
    <key>uni5514</key>
    <string>uni5514.glif</string>
    <key>uni56FD</key>
    <string>uni56F_D_.glif</string>
    <key>uni5718</key>
    <string>uni5718.glif</string>
    <key>uni5730</key>
    <string>uni5730.glif</string>
    <key>uni5750</key>
    <string>uni5750.glif</string>
    <key>uni5947</key>
    <string>uni5947.glif</string>
    <key>uni5C3A</key>
    <string>uni5C_3A_.glif</string>
    <key>uni5F00</key>
    <string>uni5F_00.glif</string>
    <key>uni5FC5</key>
    <string>uni5F_C_5.glif</string>
    <key>uni5FD0</key>
    <string>uni5F_D_0.glif</string>
    <key>uni5FEB</key>
    <string>uni5F_E_B_.glif</string>
    <key>uni601D</key>
    <string>uni601D_.glif</string>
    <key>uni609F</key>
    <string>uni609F_.glif</string>
    <key>uni60C5</key>
    <string>uni60C_5.glif</string>
    <key>uni60F3</key>
    <string>uni60F_3.glif</string>
    <key>uni6210</key>
    <string>uni6210.glif</string>
    <key>uni6211</key>
    <string>uni6211.glif</string>
    <key>uni624B</key>
    <string>uni624B_.glif</string>
    <key>uni627E</key>
    <string>uni627E_.glif</string>
    <key>uni628A</key>
    <string>uni628A_.glif</string>
    <key>uni64AD</key>
    <string>uni64A_D_.glif</string>
    <key>uni65E9</key>
    <string>uni65E_9.glif</string>
    <key>uni661F</key>
    <string>uni661F_.glif</string>
    <key>uni662F</key>
    <string>uni662F_.glif</string>
    <key>uni6709</key>
    <string>uni6709.glif</string>
    <key>uni670B</key>
    <string>uni670B_.glif</string>
    <key>uni675E</key>
    <string>uni675E_.glif</string>
    <key>uni6797</key>
    <string>uni6797.glif</string>
    <key>uni6B63</key>
    <string>uni6B_63.glif</string>
    <key>uni6C14</key>
    <string>uni6C_14.glif</string>
    <key>uni6C38</key>
    <string>uni6C_38.glif</string>
    <key>uni6C5F</key>
    <string>uni6C_5F_.glif</string>
    <key>uni6C68</key>
    <string>uni6C_68.glif</string>
    <key>uni6C9B</key>
    <string>uni6C_9B_.glif</string>
    <key>uni6CB3</key>
    <string>uni6C_B_3.glif</string>
    <key>uni6D17</key>
    <string>uni6D_17.glif</string>
    <key>uni6D3B</key>
    <string>uni6D_3B_.glif</string>
    <key>uni6D69</key>
    <string>uni6D_69.glif</string>
    <key>uni706F</key>
    <string>uni706F_.glif</string>
    <key>uni70B9</key>
    <string>uni70B_9.glif</string>
    <key>uni7247</key>
    <string>uni7247.glif</string>
    <key>uni725B</key>
    <string>uni725B_.glif</string>
    <key>uni7269</key>
    <string>uni7269.glif</string>
    <key>uni72D7</key>
    <string>uni72D_7.glif</string>
    <key>uni72D9</key>
    <string>uni72D_9.glif</string>
    <key>uni732B</key>
    <string>uni732B_.glif</string>
    <key>uni767D</key>
    <string>uni767D_.glif</string>
    <key>uni76AE</key>
    <string>uni76A_E_.glif</string>
    <key>uni76EE</key>
    <string>uni76E_E_.glif</string>
    <key>uni77E5</key>
    <string>uni77E_5.glif</string>
    <key>uni79CB</key>
    <string>uni79C_B_.glif</string>
    <key>uni79CD</key>
    <string>uni79C_D_.glif</string>
    <key>uni7FBD</key>
    <string>uni7F_B_D_.glif</string>
    <key>uni800C</key>
    <string>uni800C_.glif</string>
    <key>uni8010</key>
    <string>uni8010.glif</string>
    <key>uni8033</key>
    <string>uni8033.glif</string>
    <key>uni820C</key>
    <string>uni820C_.glif</string>
    <key>uni82C5</key>
    <string>uni82C_5.glif</string>
    <key>uni8349</key>
    <string>uni8349.glif</string>
    <key>uni8DD1</key>
    <string>uni8D_D_1.glif</string>
    <key>uni8DF3</key>
    <string>uni8D_F_3.glif</string>
    <key>uni90A3</key>
    <string>uni90A_3.glif</string>
    <key>uni90FD</key>
    <string>uni90F_D_.glif</string>
    <key>uni914D</key>
    <string>uni914D_.glif</string>
    <key>uni9175</key>
    <string>uni9175.glif</string>
    <key>uni91CC</key>
    <string>uni91C_C_.glif</string>
    <key>uni9633</key>
    <string>uni9633.glif</string>
    <key>uni9634</key>
    <string>uni9634.glif</string>
    <key>uni96E8</key>
    <string>uni96E_8.glif</string>
    <key>uni9752</key>
    <string>uni9752.glif</string>
    <key>uni9762</key>
    <string>uni9762.glif</string>
    <key>uni9ED1</key>
    <string>uni9E_D_1.glif</string>
  </dict>
</plist>
