<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3436</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>0</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>ROS</string>
        <key>value</key>
        <string>Adobe-Identity-0</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array/>
    <key>com.schriftgestaltung.iconName</key>
    <string>Light</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>ExtraLight</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni4E07</string>
      <string>uni4E08</string>
      <string>uni4E0D</string>
      <string>uni4E14</string>
      <string>uni4E15</string>
      <string>uni4E3B</string>
      <string>uni4E4D</string>
      <string>uni4E4E</string>
      <string>uni4E5E</string>
      <string>uni4E69</string>
      <string>uni4E71</string>
      <string>uni4E88</string>
      <string>uni4E8B</string>
      <string>uni4ED6</string>
      <string>uni4ED7</string>
      <string>uni4ED8</string>
      <string>uni4EDE</string>
      <string>uni4EDF</string>
      <string>uni4EE3</string>
      <string>uni4EF6</string>
      <string>uni4F0F</string>
      <string>uni4F10</string>
      <string>uni4F2F</string>
      <string>uni4F43</string>
      <string>uni4F53</string>
      <string>uni4F5C</string>
      <string>uni4F60</string>
      <string>uni4F70</string>
      <string>uni4F73</string>
      <string>uni4F7B</string>
      <string>uni4F8D</string>
      <string>uni4F91</string>
      <string>uni4F9B</string>
      <string>uni4FC3</string>
      <string>uni4FC4</string>
      <string>uni4FCE</string>
      <string>uni4FD0</string>
      <string>uni4FD1</string>
      <string>uni4FDD</string>
      <string>uni4FF1</string>
      <string>uni501A</string>
      <string>uni5021</string>
      <string>uni5028</string>
      <string>uni5047</string>
      <string>uni5085</string>
      <string>uni50F5</string>
      <string>uni5146</string>
      <string>uni514B</string>
      <string>uni5176</string>
      <string>uni517C</string>
      <string>uni5195</string>
      <string>uni5197</string>
      <string>uni51A0</string>
      <string>uni51B0</string>
      <string>uni51E1</string>
      <string>uni51E6</string>
      <string>uni5208</string>
      <string>uni520A</string>
      <string>uni5211</string>
      <string>uni5212</string>
      <string>uni522B</string>
      <string>uni522E</string>
      <string>uni5236</string>
      <string>uni524A</string>
      <string>uni524D</string>
      <string>uni5269</string>
      <string>uni526F</string>
      <string>uni52D2</string>
      <string>uni5347</string>
      <string>uni5357</string>
      <string>uni535C</string>
      <string>uni5360</string>
      <string>uni5398</string>
      <string>uni53CB</string>
      <string>uni53CC</string>
      <string>uni53D4</string>
      <string>uni53D7</string>
      <string>uni53E5</string>
      <string>uni53EE</string>
      <string>uni53F8</string>
      <string>uni5401</string>
      <string>uni5403</string>
      <string>uni5404</string>
      <string>uni540A</string>
      <string>uni5410</string>
      <string>uni5426</string>
      <string>uni5427</string>
      <string>uni543B</string>
      <string>uni543E</string>
      <string>uni5446</string>
      <string>uni544A</string>
      <string>uni5462</string>
      <string>uni5473</string>
      <string>uni5475</string>
      <string>uni547C</string>
      <string>uni548C</string>
      <string>uni5495</string>
      <string>uni54B1</string>
      <string>uni54C1</string>
      <string>uni54C4</string>
      <string>uni54C7</string>
      <string>uni54CE</string>
      <string>uni54E6</string>
      <string>uni54E9</string>
      <string>uni54ED</string>
      <string>uni5514</string>
      <string>uni5531</string>
      <string>uni554A</string>
      <string>uni5587</string>
      <string>uni5589</string>
      <string>uni558A</string>
      <string>uni5598</string>
      <string>uni55C5</string>
      <string>uni55D3</string>
      <string>uni563B</string>
      <string>uni563F</string>
      <string>uni566A</string>
      <string>uni56FD</string>
      <string>uni5718</string>
      <string>uni5730</string>
      <string>uni5740</string>
      <string>uni5750</string>
      <string>uni5761</string>
      <string>uni578B</string>
      <string>uni57CB</string>
      <string>uni57CE</string>
      <string>uni57DF</string>
      <string>uni5802</string>
      <string>uni5821</string>
      <string>uni5824</string>
      <string>uni5893</string>
      <string>uni58FD</string>
      <string>uni590F</string>
      <string>uni5947</string>
      <string>uni5967</string>
      <string>uni5C01</string>
      <string>uni5C0A</string>
      <string>uni5C3A</string>
      <string>uni5C3C</string>
      <string>uni5C3E</string>
      <string>uni5C3F</string>
      <string>uni5C65</string>
      <string>uni5CA9</string>
      <string>uni5CB8</string>
      <string>uni5D29</string>
      <string>uni5DDE</string>
      <string>uni5DE6</string>
      <string>uni5DF4</string>
      <string>uni5E06</string>
      <string>uni5E0C</string>
      <string>uni5E15</string>
      <string>uni5E38</string>
      <string>uni5E45</string>
      <string>uni5F00</string>
      <string>uni5F04</string>
      <string>uni5F62</string>
      <string>uni5F69</string>
      <string>uni5F7C</string>
      <string>uni5F81</string>
      <string>uni5F85</string>
      <string>uni5F92</string>
      <string>uni5F97</string>
      <string>uni5FC5</string>
      <string>uni5FD0</string>
      <string>uni5FEB</string>
      <string>uni6015</string>
      <string>uni601D</string>
      <string>uni6027</string>
      <string>uni602A</string>
      <string>uni6052</string>
      <string>uni606D</string>
      <string>uni609F</string>
      <string>uni60C5</string>
      <string>uni60D1</string>
      <string>uni60DC</string>
      <string>uni60E0</string>
      <string>uni60F3</string>
      <string>uni60F9</string>
      <string>uni611A</string>
      <string>uni6155</string>
      <string>uni61A4</string>
      <string>uni61C2</string>
      <string>uni6208</string>
      <string>uni6210</string>
      <string>uni6211</string>
      <string>uni6216</string>
      <string>uni6234</string>
      <string>uni624B</string>
      <string>uni624E</string>
      <string>uni6263</string>
      <string>uni626F</string>
      <string>uni6276</string>
      <string>uni627E</string>
      <string>uni6280</string>
      <string>uni628A</string>
      <string>uni6292</string>
      <string>uni6296</string>
      <string>uni62AB</string>
      <string>uni62BD</string>
      <string>uni62CD</string>
      <string>uni62D3</string>
      <string>uni62D6</string>
      <string>uni62DB</string>
      <string>uni62EC</string>
      <string>uni62FC</string>
      <string>uni6301</string>
      <string>uni6302</string>
      <string>uni6307</string>
      <string>uni633D</string>
      <string>uni6349</string>
      <string>uni634F</string>
      <string>uni6355</string>
      <string>uni636E</string>
      <string>uni6388</string>
      <string>uni6389</string>
      <string>uni638C</string>
      <string>uni63A9</string>
      <string>uni63AA</string>
      <string>uni63CF</string>
      <string>uni63D0</string>
      <string>uni63F4</string>
      <string>uni640F</string>
      <string>uni6478</string>
      <string>uni6492</string>
      <string>uni64AD</string>
      <string>uni64CD</string>
      <string>uni653F</string>
      <string>uni6597</string>
      <string>uni6599</string>
      <string>uni65E6</string>
      <string>uni65E8</string>
      <string>uni65E9</string>
      <string>uni65FA</string>
      <string>uni661F</string>
      <string>uni6620</string>
      <string>uni6628</string>
      <string>uni662D</string>
      <string>uni662F</string>
      <string>uni6652</string>
      <string>uni6674</string>
      <string>uni667A</string>
      <string>uni6691</string>
      <string>uni6696</string>
      <string>uni66B4</string>
      <string>uni66FF</string>
      <string>uni6709</string>
      <string>uni670B</string>
      <string>uni670D</string>
      <string>uni671F</string>
      <string>uni672D</string>
      <string>uni6731</string>
      <string>uni675E</string>
      <string>uni6797</string>
      <string>uni6B62</string>
      <string>uni6B63</string>
      <string>uni6B64</string>
      <string>uni6C14</string>
      <string>uni6C38</string>
      <string>uni6C5F</string>
      <string>uni6C68</string>
      <string>uni6C9B</string>
      <string>uni6CB3</string>
      <string>uni6D17</string>
      <string>uni6D3B</string>
      <string>uni6D69</string>
      <string>uni706F</string>
      <string>uni70B9</string>
      <string>uni7247</string>
      <string>uni725B</string>
      <string>uni7269</string>
      <string>uni72D7</string>
      <string>uni72D9</string>
      <string>uni732B</string>
      <string>uni7389</string>
      <string>uni767D</string>
      <string>uni7684</string>
      <string>uni76AE</string>
      <string>uni76EE</string>
      <string>uni77E5</string>
      <string>uni79CB</string>
      <string>uni79CD</string>
      <string>uni7B51</string>
      <string>uni7FBD</string>
      <string>uni800C</string>
      <string>uni8010</string>
      <string>uni8033</string>
      <string>uni820C</string>
      <string>uni82C5</string>
      <string>uni8349</string>
      <string>uni8DD1</string>
      <string>uni8DF3</string>
      <string>uni90A3</string>
      <string>uni90FD</string>
      <string>uni914D</string>
      <string>uni9152</string>
      <string>uni9175</string>
      <string>uni9177</string>
      <string>uni91CC</string>
      <string>uni9633</string>
      <string>uni9634</string>
      <string>uni96E8</string>
      <string>uni9752</string>
      <string>uni9762</string>
      <string>uni9996</string>
      <string>uni9ED1</string>
      <string>space</string>
      <string>.notdef</string>
    </array>
  </dict>
</plist>
