<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u20EAC</key>
    <string>u20E_A_C_.glif</string>
    <key>u23350</key>
    <string>u23350.glif</string>
    <key>u270FD</key>
    <string>u270F_D_.glif</string>
    <key>u270FD.inherited</key>
    <string>u270F_D_.inherited.glif</string>
    <key>u2C317</key>
    <string>u2C_317.glif</string>
    <key>u31C7F</key>
    <string>u31C_7F_.glif</string>
    <key>u31C7F.inherited2</key>
    <string>u31C_7F_.inherited2.glif</string>
    <key>uni3863.inherited</key>
    <string>uni3863.inherited.glif</string>
    <key>uni3B0A</key>
    <string>uni3B_0A_.glif</string>
    <key>uni3E74</key>
    <string>uni3E_74.glif</string>
    <key>uni4102</key>
    <string>uni4102.glif</string>
    <key>uni4E2B</key>
    <string>uni4E_2B_.glif</string>
    <key>uni4E3D</key>
    <string>uni4E_3D_.glif</string>
    <key>uni4E3D.inherited</key>
    <string>uni4E_3D_.inherited.glif</string>
    <key>uni4F41</key>
    <string>uni4F_41.glif</string>
    <key>uni4F4D</key>
    <string>uni4F_4D_.glif</string>
    <key>uni507A</key>
    <string>uni507A_.glif</string>
    <key>uni5099.MN</key>
    <string>uni5099.M_N_.glif</string>
    <key>uni50A2.MN</key>
    <string>uni50A_2.M_N_.glif</string>
    <key>uni50AF</key>
    <string>uni50A_F_.glif</string>
    <key>uni50AF.inherited</key>
    <string>uni50A_F_.inherited.glif</string>
    <key>uni50E7.MN</key>
    <string>uni50E_7.M_N_.glif</string>
    <key>uni516C</key>
    <string>uni516C_.glif</string>
    <key>uni519A</key>
    <string>uni519A_.glif</string>
    <key>uni5241</key>
    <string>uni5241.glif</string>
    <key>uni524E.inherited</key>
    <string>uni524E_.inherited.glif</string>
    <key>uni5340.inherited</key>
    <string>uni5340.inherited.glif</string>
    <key>uni540D</key>
    <string>uni540D_.glif</string>
    <key>uni5454</key>
    <string>uni5454.glif</string>
    <key>uni5463</key>
    <string>uni5463.glif</string>
    <key>uni5478</key>
    <string>uni5478.glif</string>
    <key>uni549A</key>
    <string>uni549A_.glif</string>
    <key>uni549A.MN</key>
    <string>uni549A_.M_N_.glif</string>
    <key>uni54B4.MN</key>
    <string>uni54B_4.M_N_.glif</string>
    <key>uni54CF</key>
    <string>uni54C_F_.glif</string>
    <key>uni54D6</key>
    <string>uni54D_6.glif</string>
    <key>uni54DE</key>
    <string>uni54D_E_.glif</string>
    <key>uni54E7</key>
    <string>uni54E_7.glif</string>
    <key>uni5511</key>
    <string>uni5511.glif</string>
    <key>uni551E</key>
    <string>uni551E_.glif</string>
    <key>uni5525</key>
    <string>uni5525.glif</string>
    <key>uni5525.MN</key>
    <string>uni5525.M_N_.glif</string>
    <key>uni552C</key>
    <string>uni552C_.glif</string>
    <key>uni5530</key>
    <string>uni5530.glif</string>
    <key>uni5537</key>
    <string>uni5537.glif</string>
    <key>uni5543</key>
    <string>uni5543.glif</string>
    <key>uni555F</key>
    <string>uni555F_.glif</string>
    <key>uni5572</key>
    <string>uni5572.glif</string>
    <key>uni5572.MN</key>
    <string>uni5572.M_N_.glif</string>
    <key>uni5575</key>
    <string>uni5575.glif</string>
    <key>uni5576</key>
    <string>uni5576.glif</string>
    <key>uni5577</key>
    <string>uni5577.glif</string>
    <key>uni5577.MN</key>
    <string>uni5577.M_N_.glif</string>
    <key>uni55B3</key>
    <string>uni55B_3.glif</string>
    <key>uni55B3.inherited</key>
    <string>uni55B_3.inherited.glif</string>
    <key>uni55BB</key>
    <string>uni55B_B_.glif</string>
    <key>uni55D6</key>
    <string>uni55D_6.glif</string>
    <key>uni55E1</key>
    <string>uni55E_1.glif</string>
    <key>uni55E1.MN2</key>
    <string>uni55E_1.M_N_2.glif</string>
    <key>uni55EF</key>
    <string>uni55E_F_.glif</string>
    <key>uni55F2</key>
    <string>uni55F_2.glif</string>
    <key>uni5600.CL1</key>
    <string>uni5600.C_L_1.glif</string>
    <key>uni561C</key>
    <string>uni561C_.glif</string>
    <key>uni561E</key>
    <string>uni561E_.glif</string>
    <key>uni5627</key>
    <string>uni5627.glif</string>
    <key>uni562E</key>
    <string>uni562E_.glif</string>
    <key>uni564C.MN</key>
    <string>uni564C_.M_N_.glif</string>
    <key>uni5657</key>
    <string>uni5657.glif</string>
    <key>uni5659</key>
    <string>uni5659.glif</string>
    <key>uni5665</key>
    <string>uni5665.glif</string>
    <key>uni5693</key>
    <string>uni5693.glif</string>
    <key>uni56C6.inherited</key>
    <string>uni56C_6.inherited.glif</string>
    <key>uni574B</key>
    <string>uni574B_.glif</string>
    <key>uni5783</key>
    <string>uni5783.glif</string>
    <key>uni57B9.inherited</key>
    <string>uni57B_9.inherited.glif</string>
    <key>uni587B.inherited</key>
    <string>uni587B_.inherited.glif</string>
    <key>uni589E.MN</key>
    <string>uni589E_.M_N_.glif</string>
    <key>uni5916.MN</key>
    <string>uni5916.M_N_.glif</string>
    <key>uni5980</key>
    <string>uni5980.glif</string>
    <key>uni599E</key>
    <string>uni599E_.glif</string>
    <key>uni59C5</key>
    <string>uni59C_5.glif</string>
    <key>uni59D8</key>
    <string>uni59D_8.glif</string>
    <key>uni59D8.MN</key>
    <string>uni59D_8.M_N_.glif</string>
    <key>uni5A4A</key>
    <string>uni5A_4A_.glif</string>
    <key>uni5AC1.MN</key>
    <string>uni5A_C_1.M_N_.glif</string>
    <key>uni5AD8</key>
    <string>uni5A_D_8.glif</string>
    <key>uni5AFA.inherited</key>
    <string>uni5A_F_A_.inherited.glif</string>
    <key>uni5B24</key>
    <string>uni5B_24.glif</string>
    <key>uni5B53</key>
    <string>uni5B_53.glif</string>
    <key>uni5B6C</key>
    <string>uni5B_6C_.glif</string>
    <key>uni5B6D</key>
    <string>uni5B_6D_.glif</string>
    <key>uni5B72</key>
    <string>uni5B_72.glif</string>
    <key>uni5BB6.MN</key>
    <string>uni5B_B_6.M_N_.glif</string>
    <key>uni5BF3</key>
    <string>uni5B_F_3.glif</string>
    <key>uni5C58</key>
    <string>uni5C_58.glif</string>
    <key>uni5C64.MN</key>
    <string>uni5C_64.M_N_.glif</string>
    <key>uni5CA6</key>
    <string>uni5C_A_6.glif</string>
    <key>uni5CCE</key>
    <string>uni5C_C_E_.glif</string>
    <key>uni5E59.inherited</key>
    <string>uni5E_59.inherited.glif</string>
    <key>uni5EC4.MN</key>
    <string>uni5E_C_4.M_N_.glif</string>
    <key>uni5F12</key>
    <string>uni5F_12.glif</string>
    <key>uni5F12.inherited</key>
    <string>uni5F_12.inherited.glif</string>
    <key>uni5F5E</key>
    <string>uni5F_5E_.glif</string>
    <key>uni60A4</key>
    <string>uni60A_4.glif</string>
    <key>uni611B.inherited2</key>
    <string>uni611B_.inherited2.glif</string>
    <key>uni6123.inherited</key>
    <string>uni6123.inherited.glif</string>
    <key>uni6154.inherited</key>
    <string>uni6154.inherited.glif</string>
    <key>uni618E.MN</key>
    <string>uni618E_.M_N_.glif</string>
    <key>uni61F1.CL1</key>
    <string>uni61F_1.C_L_1.glif</string>
    <key>uni6272</key>
    <string>uni6272.glif</string>
    <key>uni6274</key>
    <string>uni6274.glif</string>
    <key>uni62C9</key>
    <string>uni62C_9.glif</string>
    <key>uni62CB</key>
    <string>uni62C_B_.glif</string>
    <key>uni63B0</key>
    <string>uni63B_0.glif</string>
    <key>uni63CD</key>
    <string>uni63C_D_.glif</string>
    <key>uni63DE.CL1</key>
    <string>uni63D_E_.C_L_1.glif</string>
    <key>uni6460</key>
    <string>uni6460.glif</string>
    <key>uni64A2.CL1</key>
    <string>uni64A_2.C_L_1.glif</string>
    <key>uni64CF.inherited</key>
    <string>uni64C_F_.inherited.glif</string>
    <key>uni6530</key>
    <string>uni6530.glif</string>
    <key>uni6568</key>
    <string>uni6568.glif</string>
    <key>uni65B0.CL1</key>
    <string>uni65B_0.C_L_1.glif</string>
    <key>uni6631</key>
    <string>uni6631.glif</string>
    <key>uni66AF.inherited</key>
    <string>uni66A_F_.inherited.glif</string>
    <key>uni66DE.inherited</key>
    <string>uni66D_E_.inherited.glif</string>
    <key>uni66FE.MN</key>
    <string>uni66F_E_.M_N_.glif</string>
    <key>uni6757</key>
    <string>uni6757.glif</string>
    <key>uni6757.MN</key>
    <string>uni6757.M_N_.glif</string>
    <key>uni6967.inherited</key>
    <string>uni6967.inherited.glif</string>
    <key>uni69A3</key>
    <string>uni69A_3.glif</string>
    <key>uni69E4</key>
    <string>uni69E_4.glif</string>
    <key>uni6A57.inherited</key>
    <string>uni6A_57.inherited.glif</string>
    <key>uni6AA0.inherited</key>
    <string>uni6A_A_0.inherited.glif</string>
    <key>uni6AE5</key>
    <string>uni6A_E_5.glif</string>
    <key>uni6B5C</key>
    <string>uni6B_5C_.glif</string>
    <key>uni6B76.inherited</key>
    <string>uni6B_76.inherited.glif</string>
    <key>uni6BF0</key>
    <string>uni6B_F_0.glif</string>
    <key>uni6BFD</key>
    <string>uni6B_F_D_.glif</string>
    <key>uni6C16</key>
    <string>uni6C_16.glif</string>
    <key>uni6C26</key>
    <string>uni6C_26.glif</string>
    <key>uni6C26.CL1</key>
    <string>uni6C_26.C_L_1.glif</string>
    <key>uni6C2F</key>
    <string>uni6C_2F_.glif</string>
    <key>uni6C61</key>
    <string>uni6C_61.glif</string>
    <key>uni6C69</key>
    <string>uni6C_69.glif</string>
    <key>uni6C8E.MN</key>
    <string>uni6C_8E_.M_N_.glif</string>
    <key>uni6C9B</key>
    <string>uni6C_9B_.glif</string>
    <key>uni6CB7</key>
    <string>uni6C_B_7.glif</string>
    <key>uni6CE3</key>
    <string>uni6C_E_3.glif</string>
    <key>uni6E03.inherited</key>
    <string>uni6E_03.inherited.glif</string>
    <key>uni6E2A.inherited</key>
    <string>uni6E_2A_.inherited.glif</string>
    <key>uni6E61.inherited</key>
    <string>uni6E_61.inherited.glif</string>
    <key>uni6F17</key>
    <string>uni6F_17.glif</string>
    <key>uni6F17.CL1</key>
    <string>uni6F_17.C_L_1.glif</string>
    <key>uni6F17.inherited</key>
    <string>uni6F_17.inherited.glif</string>
    <key>uni6FAB.inherited</key>
    <string>uni6F_A_B_.inherited.glif</string>
    <key>uni6FB4</key>
    <string>uni6F_B_4.glif</string>
    <key>uni6FFF.inherited</key>
    <string>uni6F_F_F_.inherited.glif</string>
    <key>uni700E.CL1</key>
    <string>uni700E_.C_L_1.glif</string>
    <key>uni7033</key>
    <string>uni7033.glif</string>
    <key>uni7033.inherited</key>
    <string>uni7033.inherited.glif</string>
    <key>uni7067</key>
    <string>uni7067.glif</string>
    <key>uni7070.MN</key>
    <string>uni7070.M_N_.glif</string>
    <key>uni70B7</key>
    <string>uni70B_7.glif</string>
    <key>uni70DA</key>
    <string>uni70D_A_.glif</string>
    <key>uni70EF</key>
    <string>uni70E_F_.glif</string>
    <key>uni710A</key>
    <string>uni710A_.glif</string>
    <key>uni7178</key>
    <string>uni7178.glif</string>
    <key>uni71E4.inherited</key>
    <string>uni71E_4.inherited.glif</string>
    <key>uni72A1.inherited</key>
    <string>uni72A_1.inherited.glif</string>
    <key>uni740D</key>
    <string>uni740D_.glif</string>
    <key>uni7423</key>
    <string>uni7423.glif</string>
    <key>uni7481</key>
    <string>uni7481.glif</string>
    <key>uni7511.MN</key>
    <string>uni7511.M_N_.glif</string>
    <key>uni7684</key>
    <string>uni7684.glif</string>
    <key>uni76D4.MN</key>
    <string>uni76D_4.M_N_.glif</string>
    <key>uni7787</key>
    <string>uni7787.glif</string>
    <key>uni77D3</key>
    <string>uni77D_3.glif</string>
    <key>uni77D3.CL1</key>
    <string>uni77D_3.C_L_1.glif</string>
    <key>uni781F</key>
    <string>uni781F_.glif</string>
    <key>uni7838</key>
    <string>uni7838.glif</string>
    <key>uni787F</key>
    <string>uni787F_.glif</string>
    <key>uni787F.CL1</key>
    <string>uni787F_.C_L_1.glif</string>
    <key>uni7889</key>
    <string>uni7889.glif</string>
    <key>uni78B0.MN</key>
    <string>uni78B_0.M_N_.glif</string>
    <key>uni7923.CL1</key>
    <string>uni7923.C_L_1.glif</string>
    <key>uni7964</key>
    <string>uni7964.glif</string>
    <key>uni7964.MN2</key>
    <string>uni7964.M_N_2.glif</string>
    <key>uni7987</key>
    <string>uni7987.glif</string>
    <key>uni7987.MN1</key>
    <string>uni7987.M_N_1.glif</string>
    <key>uni7987.MN2</key>
    <string>uni7987.M_N_2.glif</string>
    <key>uni799A</key>
    <string>uni799A_.glif</string>
    <key>uni799A.MN2</key>
    <string>uni799A_.M_N_2.glif</string>
    <key>uni79A4</key>
    <string>uni79A_4.glif</string>
    <key>uni79A4.MN2</key>
    <string>uni79A_4.M_N_2.glif</string>
    <key>uni79AA.MN2</key>
    <string>uni79A_A_.M_N_2.glif</string>
    <key>uni79EE</key>
    <string>uni79E_E_.glif</string>
    <key>uni7A3C.MN</key>
    <string>uni7A_3C_.M_N_.glif</string>
    <key>uni7A4B</key>
    <string>uni7A_4B_.glif</string>
    <key>uni7AB8</key>
    <string>uni7A_B_8.glif</string>
    <key>uni7ACB</key>
    <string>uni7A_C_B_.glif</string>
    <key>uni7B20</key>
    <string>uni7B_20.glif</string>
    <key>uni7C92</key>
    <string>uni7C_92.glif</string>
    <key>uni7CB5</key>
    <string>uni7C_B_5.glif</string>
    <key>uni7CCB</key>
    <string>uni7C_C_B_.glif</string>
    <key>uni7CCB.MN</key>
    <string>uni7C_C_B_.M_N_.glif</string>
    <key>uni7D29</key>
    <string>uni7D_29.glif</string>
    <key>uni7D6D</key>
    <string>uni7D_6D_.glif</string>
    <key>uni7DB9</key>
    <string>uni7D_B_9.glif</string>
    <key>uni7DC1</key>
    <string>uni7D_C_1.glif</string>
    <key>uni7DD4</key>
    <string>uni7D_D_4.glif</string>
    <key>uni7DD4.MN</key>
    <string>uni7D_D_4.M_N_.glif</string>
    <key>uni7DDF</key>
    <string>uni7D_D_F_.glif</string>
    <key>uni7DFC</key>
    <string>uni7D_F_C_.glif</string>
    <key>uni7E16</key>
    <string>uni7E_16.glif</string>
    <key>uni7E16.MN</key>
    <string>uni7E_16.M_N_.glif</string>
    <key>uni7E34</key>
    <string>uni7E_34.glif</string>
    <key>uni7E3D</key>
    <string>uni7E_3D_.glif</string>
    <key>uni7E4F</key>
    <string>uni7E_4F_.glif</string>
    <key>uni7E52.MN</key>
    <string>uni7E_52.M_N_.glif</string>
    <key>uni7E77</key>
    <string>uni7E_77.glif</string>
    <key>uni7F48</key>
    <string>uni7F_48.glif</string>
    <key>uni7F48.CL1</key>
    <string>uni7F_48.C_L_1.glif</string>
    <key>uni7F7E.MN</key>
    <string>uni7F_7E_.M_N_.glif</string>
    <key>uni7FE9.MN</key>
    <string>uni7F_E_9.M_N_.glif</string>
    <key>uni7FF1</key>
    <string>uni7F_F_1.glif</string>
    <key>uni8054</key>
    <string>uni8054.glif</string>
    <key>uni8070</key>
    <string>uni8070.glif</string>
    <key>uni807D.inherited</key>
    <string>uni807D_.inherited.glif</string>
    <key>uni81E2</key>
    <string>uni81E_2.glif</string>
    <key>uni8291.inherited</key>
    <string>uni8291.inherited.glif</string>
    <key>uni82D9</key>
    <string>uni82D_9.glif</string>
    <key>uni83E9.inherited</key>
    <string>uni83E_9.inherited.glif</string>
    <key>uni8500.inherited</key>
    <string>uni8500.inherited.glif</string>
    <key>uni8525</key>
    <string>uni8525.glif</string>
    <key>uni87D1</key>
    <string>uni87D_1.glif</string>
    <key>uni87D1.CL1</key>
    <string>uni87D_1.C_L_1.glif</string>
    <key>uni8914</key>
    <string>uni8914.glif</string>
    <key>uni8921</key>
    <string>uni8921.glif</string>
    <key>uni8921.inherited</key>
    <string>uni8921.inherited.glif</string>
    <key>uni893D</key>
    <string>uni893D_.glif</string>
    <key>uni896C</key>
    <string>uni896C_.glif</string>
    <key>uni898A.inherited</key>
    <string>uni898A_.inherited.glif</string>
    <key>uni89FC</key>
    <string>uni89F_C_.glif</string>
    <key>uni8A4F</key>
    <string>uni8A_4F_.glif</string>
    <key>uni8A68</key>
    <string>uni8A_68.glif</string>
    <key>uni8A7C.MN</key>
    <string>uni8A_7C_.M_N_.glif</string>
    <key>uni8B40</key>
    <string>uni8B_40.glif</string>
    <key>uni8D08.MN</key>
    <string>uni8D_08.M_N_.glif</string>
    <key>uni8DB4</key>
    <string>uni8D_B_4.glif</string>
    <key>uni8DFA</key>
    <string>uni8D_F_A_.glif</string>
    <key>uni8E29</key>
    <string>uni8E_29.glif</string>
    <key>uni8E2B</key>
    <string>uni8E_2B_.glif</string>
    <key>uni8E2B.MN</key>
    <string>uni8E_2B_.M_N_.glif</string>
    <key>uni8E66</key>
    <string>uni8E_66.glif</string>
    <key>uni8E66.MN</key>
    <string>uni8E_66.M_N_.glif</string>
    <key>uni8E6D.MN</key>
    <string>uni8E_6D_.M_N_.glif</string>
    <key>uni8EB2</key>
    <string>uni8E_B_2.glif</string>
    <key>uni8FB9</key>
    <string>uni8F_B_9.glif</string>
    <key>uni8FC7</key>
    <string>uni8F_C_7.glif</string>
    <key>uni8FCC</key>
    <string>uni8F_C_C_.glif</string>
    <key>uni8FCC.MN</key>
    <string>uni8F_C_C_.M_N_.glif</string>
    <key>uni8FD8</key>
    <string>uni8F_D_8.glif</string>
    <key>uni8FD9</key>
    <string>uni8F_D_9.glif</string>
    <key>uni8FDB</key>
    <string>uni8F_D_B_.glif</string>
    <key>uni9024</key>
    <string>uni9024.glif</string>
    <key>uni9094</key>
    <string>uni9094.glif</string>
    <key>uni911F</key>
    <string>uni911F_.glif</string>
    <key>uni914C</key>
    <string>uni914C_.glif</string>
    <key>uni91A3</key>
    <string>uni91A_3.glif</string>
    <key>uni9202</key>
    <string>uni9202.glif</string>
    <key>uni9203</key>
    <string>uni9203.glif</string>
    <key>uni922A</key>
    <string>uni922A_.glif</string>
    <key>uni9231</key>
    <string>uni9231.glif</string>
    <key>uni923D</key>
    <string>uni923D_.glif</string>
    <key>uni924C</key>
    <string>uni924C_.glif</string>
    <key>uni9254</key>
    <string>uni9254.glif</string>
    <key>uni926C</key>
    <string>uni926C_.glif</string>
    <key>uni92A3</key>
    <string>uni92A_3.glif</string>
    <key>uni92A6</key>
    <string>uni92A_6.glif</string>
    <key>uni92AA</key>
    <string>uni92A_A_.glif</string>
    <key>uni92AC</key>
    <string>uni92A_C_.glif</string>
    <key>uni92C9</key>
    <string>uni92C_9.glif</string>
    <key>uni92CA</key>
    <string>uni92C_A_.glif</string>
    <key>uni92E6</key>
    <string>uni92E_6.glif</string>
    <key>uni92EF</key>
    <string>uni92E_F_.glif</string>
    <key>uni92EF.MN</key>
    <string>uni92E_F_.M_N_.glif</string>
    <key>uni9307</key>
    <string>uni9307.glif</string>
    <key>uni9312</key>
    <string>uni9312.glif</string>
    <key>uni9331</key>
    <string>uni9331.glif</string>
    <key>uni9338</key>
    <string>uni9338.glif</string>
    <key>uni933C</key>
    <string>uni933C_.glif</string>
    <key>uni934C</key>
    <string>uni934C_.glif</string>
    <key>uni934F</key>
    <string>uni934F_.glif</string>
    <key>uni934F.inherited</key>
    <string>uni934F_.inherited.glif</string>
    <key>uni9379</key>
    <string>uni9379.glif</string>
    <key>uni9385</key>
    <string>uni9385.glif</string>
    <key>uni93A2</key>
    <string>uni93A_2.glif</string>
    <key>uni93A6</key>
    <string>uni93A_6.glif</string>
    <key>uni93B3</key>
    <string>uni93B_3.glif</string>
    <key>uni93B5.MN</key>
    <string>uni93B_5.M_N_.glif</string>
    <key>uni93C0</key>
    <string>uni93C_0.glif</string>
    <key>uni93F9.CL1</key>
    <string>uni93F_9.C_L_1.glif</string>
    <key>uni9420</key>
    <string>uni9420.glif</string>
    <key>uni9424</key>
    <string>uni9424.glif</string>
    <key>uni9427</key>
    <string>uni9427.glif</string>
    <key>uni9440</key>
    <string>uni9440.glif</string>
    <key>uni9440.inherited2</key>
    <string>uni9440.inherited2.glif</string>
    <key>uni9464</key>
    <string>uni9464.glif</string>
    <key>uni9476</key>
    <string>uni9476.glif</string>
    <key>uni9476.inherited</key>
    <string>uni9476.inherited.glif</string>
    <key>uni9595</key>
    <string>uni9595.glif</string>
    <key>uni9595.CL1</key>
    <string>uni9595.C_L_1.glif</string>
    <key>uni95AA</key>
    <string>uni95A_A_.glif</string>
    <key>uni96A7.MN</key>
    <string>uni96A_7.M_N_.glif</string>
    <key>uni979B</key>
    <string>uni979B_.glif</string>
    <key>uni97F9</key>
    <string>uni97F_9.glif</string>
    <key>uni97F9.CL1</key>
    <string>uni97F_9.C_L_1.glif</string>
    <key>uni98AF</key>
    <string>uni98A_F_.glif</string>
    <key>uni98E0</key>
    <string>uni98E_0.glif</string>
    <key>uni98E2.MN</key>
    <string>uni98E_2.M_N_.glif</string>
    <key>uni98E9.MN1</key>
    <string>uni98E_9.M_N_1.glif</string>
    <key>uni98E9.MN2</key>
    <string>uni98E_9.M_N_2.glif</string>
    <key>uni98EA.MN</key>
    <string>uni98E_A_.M_N_.glif</string>
    <key>uni98EA.MN3</key>
    <string>uni98E_A_.M_N_3.glif</string>
    <key>uni98EB.MN</key>
    <string>uni98E_B_.M_N_.glif</string>
    <key>uni98ED.MN</key>
    <string>uni98E_D_.M_N_.glif</string>
    <key>uni98EF.MN</key>
    <string>uni98E_F_.M_N_.glif</string>
    <key>uni98F2.MN</key>
    <string>uni98F_2.M_N_.glif</string>
    <key>uni98F4.MN</key>
    <string>uni98F_4.M_N_.glif</string>
    <key>uni98FC.MN</key>
    <string>uni98F_C_.M_N_.glif</string>
    <key>uni98FD.MN</key>
    <string>uni98F_D_.M_N_.glif</string>
    <key>uni98FE.MN</key>
    <string>uni98F_E_.M_N_.glif</string>
    <key>uni9903.MN</key>
    <string>uni9903.M_N_.glif</string>
    <key>uni9905.MN</key>
    <string>uni9905.M_N_.glif</string>
    <key>uni9909.MN</key>
    <string>uni9909.M_N_.glif</string>
    <key>uni990C.MN</key>
    <string>uni990C_.M_N_.glif</string>
    <key>uni9911.MN</key>
    <string>uni9911.M_N_.glif</string>
    <key>uni9912.MN</key>
    <string>uni9912.M_N_.glif</string>
    <key>uni9913.MN</key>
    <string>uni9913.M_N_.glif</string>
    <key>uni9918.MN</key>
    <string>uni9918.M_N_.glif</string>
    <key>uni991A.MN</key>
    <string>uni991A_.M_N_.glif</string>
    <key>uni991B.MN</key>
    <string>uni991B_.M_N_.glif</string>
    <key>uni991E.MN</key>
    <string>uni991E_.M_N_.glif</string>
    <key>uni9921.MN</key>
    <string>uni9921.M_N_.glif</string>
    <key>uni9928.MN</key>
    <string>uni9928.M_N_.glif</string>
    <key>uni992C.MN</key>
    <string>uni992C_.M_N_.glif</string>
    <key>uni9933.MN</key>
    <string>uni9933.M_N_.glif</string>
    <key>uni9935.MN</key>
    <string>uni9935.M_N_.glif</string>
    <key>uni9937</key>
    <string>uni9937.glif</string>
    <key>uni9937.MN</key>
    <string>uni9937.M_N_.glif</string>
    <key>uni9937.inherited</key>
    <string>uni9937.inherited.glif</string>
    <key>uni9938</key>
    <string>uni9938.glif</string>
    <key>uni9938.MN</key>
    <string>uni9938.M_N_.glif</string>
    <key>uni993C.MN</key>
    <string>uni993C_.M_N_.glif</string>
    <key>uni993D.MN</key>
    <string>uni993D_.M_N_.glif</string>
    <key>uni993E.MN</key>
    <string>uni993E_.M_N_.glif</string>
    <key>uni993F</key>
    <string>uni993F_.glif</string>
    <key>uni993F.MN</key>
    <string>uni993F_.M_N_.glif</string>
    <key>uni9943</key>
    <string>uni9943.glif</string>
    <key>uni9943.MN</key>
    <string>uni9943.M_N_.glif</string>
    <key>uni9943.MN3</key>
    <string>uni9943.M_N_3.glif</string>
    <key>uni9943.inherited</key>
    <string>uni9943.inherited.glif</string>
    <key>uni9945.MN</key>
    <string>uni9945.M_N_.glif</string>
    <key>uni9945.MN3</key>
    <string>uni9945.M_N_3.glif</string>
    <key>uni9948.MN</key>
    <string>uni9948.M_N_.glif</string>
    <key>uni9949.MN</key>
    <string>uni9949.M_N_.glif</string>
    <key>uni994A.MN</key>
    <string>uni994A_.M_N_.glif</string>
    <key>uni994B.MN</key>
    <string>uni994B_.M_N_.glif</string>
    <key>uni994C.MN</key>
    <string>uni994C_.M_N_.glif</string>
    <key>uni9951.MN1</key>
    <string>uni9951.M_N_1.glif</string>
    <key>uni9951.MN2</key>
    <string>uni9951.M_N_2.glif</string>
    <key>uni9952.MN</key>
    <string>uni9952.M_N_.glif</string>
    <key>uni9957.MN</key>
    <string>uni9957.M_N_.glif</string>
    <key>uni995C.MN</key>
    <string>uni995C_.M_N_.glif</string>
    <key>uni995E.MN</key>
    <string>uni995E_.M_N_.glif</string>
    <key>uni9962.MN</key>
    <string>uni9962.M_N_.glif</string>
    <key>uni9A44</key>
    <string>uni9A_44.glif</string>
    <key>uni9B1E</key>
    <string>uni9B_1E_.glif</string>
    <key>uni9D4B</key>
    <string>uni9D_4B_.glif</string>
    <key>uni9DD2</key>
    <string>uni9D_D_2.glif</string>
    <key>uni9F22</key>
    <string>uni9F_22.glif</string>
    <key>uni9F5C</key>
    <string>uni9F_5C_.glif</string>
    <key>uni9F98</key>
    <string>uni9F_98.glif</string>
    <key>uni9F98.CL1</key>
    <string>uni9F_98.C_L_1.glif</string>
    <key>uni9FC5</key>
    <string>uni9F_C_5.glif</string>
    <key>uni9FC6</key>
    <string>uni9F_C_6.glif</string>
  </dict>
</plist>
