<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>u20EAC</key>
    <string>u20E_A_C_.glif</string>
    <key>u2124F</key>
    <string>u2124F_.glif</string>
    <key>u216B1</key>
    <string>u216B_1.glif</string>
    <key>u21D3E</key>
    <string>u21D_3E_.glif</string>
    <key>u21D46</key>
    <string>u21D_46.glif</string>
    <key>u248F1</key>
    <string>u248F_1.glif</string>
    <key>u26B0A</key>
    <string>u26B_0A_.glif</string>
    <key>u26B0A.alt1</key>
    <string>u26B_0A_.alt1.glif</string>
    <key>u2F98F</key>
    <string>u2F_98F_.glif</string>
    <key>uni500D</key>
    <string>uni500D_.glif</string>
    <key>uni5087</key>
    <string>uni5087.glif</string>
    <key>uni50B3</key>
    <string>uni50B_3.glif</string>
    <key>uni5256</key>
    <string>uni5256.glif</string>
    <key>uni5278</key>
    <string>uni5278.glif</string>
    <key>uni5485</key>
    <string>uni5485.glif</string>
    <key>uni555F.HK</key>
    <string>uni555F_.H_K_.glif</string>
    <key>uni5718</key>
    <string>uni5718.glif</string>
    <key>uni57F9</key>
    <string>uni57F_9.glif</string>
    <key>uni5983</key>
    <string>uni5983.glif</string>
    <key>uni5A44</key>
    <string>uni5A_44.glif</string>
    <key>uni5C08</key>
    <string>uni5C_08.glif</string>
    <key>uni61F1</key>
    <string>uni61F_1.glif</string>
    <key>uni638A</key>
    <string>uni638A_.glif</string>
    <key>uni64CF</key>
    <string>uni64C_F_.glif</string>
    <key>uni6568</key>
    <string>uni6568.glif</string>
    <key>uni66A8</key>
    <string>uni66A_8.glif</string>
    <key>uni675E</key>
    <string>uni675E_.glif</string>
    <key>uni68D3</key>
    <string>uni68D_3.glif</string>
    <key>uni69B5</key>
    <string>uni69B_5.glif</string>
    <key>uni6AA0</key>
    <string>uni6A_A_0.glif</string>
    <key>uni6B95</key>
    <string>uni6B_95.glif</string>
    <key>uni6BF0</key>
    <string>uni6B_F_0.glif</string>
    <key>uni6DAA</key>
    <string>uni6D_A_A_.glif</string>
    <key>uni6F19</key>
    <string>uni6F_19.glif</string>
    <key>uni700E</key>
    <string>uni700E_.glif</string>
    <key>uni7119</key>
    <string>uni7119.glif</string>
    <key>uni7398</key>
    <string>uni7398.glif</string>
    <key>uni7423</key>
    <string>uni7423.glif</string>
    <key>uni74FF</key>
    <string>uni74F_F_.glif</string>
    <key>uni789A</key>
    <string>uni789A_.glif</string>
    <key>uni7923</key>
    <string>uni7923.glif</string>
    <key>uni7BF0</key>
    <string>uni7B_F_0.glif</string>
    <key>uni7D00</key>
    <string>uni7D_00.glif</string>
    <key>uni7D00.alt1</key>
    <string>uni7D_00.alt1.glif</string>
    <key>uni83E9</key>
    <string>uni83E_9.glif</string>
    <key>uni83E9.alt1</key>
    <string>uni83E_9.alt1.glif</string>
    <key>uni8500</key>
    <string>uni8500.glif</string>
    <key>uni8500.alt1</key>
    <string>uni8500.alt1.glif</string>
    <key>uni8A18</key>
    <string>uni8A_18.glif</string>
    <key>uni8A18.alt1</key>
    <string>uni8A_18.alt1.glif</string>
    <key>uni8CE0</key>
    <string>uni8C_E_0.glif</string>
    <key>uni8D77</key>
    <string>uni8D_77.glif</string>
    <key>uni8E23</key>
    <string>uni8E_23.glif</string>
    <key>uni8F49</key>
    <string>uni8F_49.glif</string>
    <key>uni90E8</key>
    <string>uni90E_8.glif</string>
    <key>uni911F</key>
    <string>uni911F_.glif</string>
    <key>uni914D</key>
    <string>uni914D_.glif</string>
    <key>uni9185</key>
    <string>uni9185.glif</string>
    <key>uni9307</key>
    <string>uni9307.glif</string>
    <key>uni966A</key>
    <string>uni966A_.glif</string>
    <key>uni979B</key>
    <string>uni979B_.glif</string>
    <key>uni9DD2</key>
    <string>uni9D_D_2.glif</string>
  </dict>
</plist>
