<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>880</integer>
    <key>capHeight</key>
    <integer>729</integer>
    <key>copyright</key>
    <string>© 2017-2024 Adobe (http://www.adobe.com/).</string>
    <key>descender</key>
    <integer>-120</integer>
    <key>familyName</key>
    <string>WIPSHDC-All-Traditional-Serif</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2023/07/28 18:05:35</string>
    <key>openTypeHheaAscender</key>
    <integer>1151</integer>
    <key>openTypeHheaDescender</key>
    <integer>-286</integer>
    <key>openTypeNameDescription</key>
    <string>NOTICE: THIS IS NOT A FULL FONT. IT IS RECOMMENDED TO USE ONLY FOR FONT PRODUCTION PURPOSES.</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This Font Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the SIL Open Font License for the specific language, permissions and limitations governing your use of this Font Software.</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Heavy</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>2</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>308</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>880</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-120</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>59</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>ADBO</string>
    <key>openTypeOS2WeightClass</key>
    <integer>900</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1151</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>286</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-17</integer>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>WIPSHDC-All-Traditional-Serif-Heavy</string>
    <key>styleMapFamilyName</key>
    <string>WIPSHDC-All-Traditional-Serif Heavy</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Heavy</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>514</integer>
  </dict>
</plist>
