<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>uni4E3D</key>
    <string>uni4E_3D_.glif</string>
    <key>uni4E49</key>
    <string>uni4E_49.glif</string>
    <key>uni4E60</key>
    <string>uni4E_60.glif</string>
    <key>uni5170</key>
    <string>uni5170.glif</string>
    <key>uni5173</key>
    <string>uni5173.glif</string>
    <key>uni529E</key>
    <string>uni529E_.glif</string>
    <key>uni52A8</key>
    <string>uni52A_8.glif</string>
    <key>uni53D1</key>
    <string>uni53D_1.glif</string>
    <key>uni5B9E</key>
    <string>uni5B_9E_.glif</string>
    <key>uni5BBE</key>
    <string>uni5B_B_E_.glif</string>
    <key>uni5C49</key>
    <string>uni5C_49.glif</string>
    <key>uni6001</key>
    <string>uni6001.glif</string>
    <key>uni65F6</key>
    <string>uni65F_6.glif</string>
    <key>uni6811</key>
    <string>uni6811.glif</string>
    <key>uni6837</key>
    <string>uni6837.glif</string>
    <key>uni6C47</key>
    <string>uni6C_47.glif</string>
    <key>uni6C49</key>
    <string>uni6C_49.glif</string>
    <key>uni7237</key>
    <string>uni7237.glif</string>
    <key>uni743C</key>
    <string>uni743C_.glif</string>
    <key>uni7535</key>
    <string>uni7535.glif</string>
    <key>uni7E9F</key>
    <string>uni7E_9F_.glif</string>
    <key>uni7EA2</key>
    <string>uni7E_A_2.glif</string>
    <key>uni7ECF</key>
    <string>uni7E_C_F_.glif</string>
    <key>uni7ED9</key>
    <string>uni7E_D_9.glif</string>
    <key>uni8054</key>
    <string>uni8054.glif</string>
    <key>uni8BA0</key>
    <string>uni8B_A_0.glif</string>
    <key>uni8BA1</key>
    <string>uni8B_A_1.glif</string>
    <key>uni8BA4</key>
    <string>uni8B_A_4.glif</string>
    <key>uni8BA9</key>
    <string>uni8B_A_9.glif</string>
    <key>uni8BBE</key>
    <string>uni8B_B_E_.glif</string>
    <key>uni8BDD</key>
    <string>uni8B_D_D_.glif</string>
    <key>uni8BED</key>
    <string>uni8B_E_D_.glif</string>
    <key>uni8BF4</key>
    <string>uni8B_F_4.glif</string>
    <key>uni8BF7</key>
    <string>uni8B_F_7.glif</string>
    <key>uni8BFE</key>
    <string>uni8B_F_E_.glif</string>
    <key>uni8C01</key>
    <string>uni8C_01.glif</string>
    <key>uni8FD8</key>
    <string>uni8F_D_8.glif</string>
    <key>uni9485</key>
    <string>uni9485.glif</string>
    <key>uni95E8</key>
    <string>uni95E_8.glif</string>
    <key>uni95EE</key>
    <string>uni95E_E_.glif</string>
    <key>uni98CE</key>
    <string>uni98C_E_.glif</string>
    <key>uni98DE</key>
    <string>uni98D_E_.glif</string>
    <key>uni9963</key>
    <string>uni9963.glif</string>
    <key>uni996D</key>
    <string>uni996D_.glif</string>
    <key>uni9971</key>
    <string>uni9971.glif</string>
    <key>uni9A6C</key>
    <string>uni9A_6C_.glif</string>
    <key>uni9F99</key>
    <string>uni9F_99.glif</string>
  </dict>
</plist>
