<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3343</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>1000</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>ROS</string>
        <key>value</key>
        <string>Adobe-Identity-0</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>94DDBC6A-1627-4027-9125-871D02041BCD</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array/>
    <key>com.schriftgestaltung.iconName</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>Heavy</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni500D</string>
      <string>uni5087</string>
      <string>uni50B3</string>
      <string>uni5256</string>
      <string>uni5278</string>
      <string>uni5485</string>
      <string>uni555F.HK</string>
      <string>uni5718</string>
      <string>uni57F9</string>
      <string>uni5983</string>
      <string>uni5A44</string>
      <string>uni5C08</string>
      <string>uni61F1</string>
      <string>uni638A</string>
      <string>uni64CF</string>
      <string>uni6568</string>
      <string>uni66A8</string>
      <string>uni675E</string>
      <string>uni68D3</string>
      <string>uni69B5</string>
      <string>uni6AA0</string>
      <string>uni6B95</string>
      <string>uni6BF0</string>
      <string>uni6DAA</string>
      <string>uni6F19</string>
      <string>uni700E</string>
      <string>uni7119</string>
      <string>uni7398</string>
      <string>uni7423</string>
      <string>uni74FF</string>
      <string>uni789A</string>
      <string>uni7923</string>
      <string>uni7BF0</string>
      <string>uni7D00</string>
      <string>uni7D00.alt1</string>
      <string>uni83E9</string>
      <string>uni83E9.alt1</string>
      <string>uni8500</string>
      <string>uni8500.alt1</string>
      <string>uni8A18</string>
      <string>uni8A18.alt1</string>
      <string>uni8CE0</string>
      <string>uni8D77</string>
      <string>uni8E23</string>
      <string>uni8F49</string>
      <string>uni90E8</string>
      <string>uni911F</string>
      <string>uni914D</string>
      <string>uni9185</string>
      <string>uni9307</string>
      <string>uni966A</string>
      <string>uni979B</string>
      <string>uni9DD2</string>
      <string>u20EAC</string>
      <string>u2124F</string>
      <string>u216B1</string>
      <string>u21D3E</string>
      <string>u21D46</string>
      <string>u248F1</string>
      <string>u26B0A</string>
      <string>u26B0A.alt1</string>
      <string>u2F98F</string>
      <string>space</string>
      <string>.notdef</string>
    </array>
  </dict>
</plist>
