<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3343</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>1000</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>ROS</string>
        <key>value</key>
        <string>Adobe-Identity-0</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>94DDBC6A-1627-4027-9125-871D02041BCD</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array/>
    <key>com.schriftgestaltung.iconName</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>Heavy</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni304D</string>
      <string>uni304E</string>
      <string>uni3055</string>
      <string>uni3056</string>
      <string>uni30AA</string>
      <string>uni30A9</string>
      <string>uni30DB</string>
      <string>uni30DC</string>
      <string>uni30DD</string>
      <string>uniFF75</string>
      <string>uniFF8E</string>
      <string>space</string>
      <string>.notdef</string>
      <string>uni331E</string>
      <string>uni3342</string>
      <string>uni3342-V</string>
      <string>uni331E-V</string>
      <string>uni304Duni309A-V</string>
      <string>uni30AAuni3099-V</string>
    </array>
    <key>public.postscriptNames</key>
    <dict>
      <key>uni304Duni309A-V</key>
      <string>uni304Duni309AV</string>
      <key>uni30AAuni3099-V</key>
      <string>uni30AAuni3099V</string>
      <key>uni331E-V</key>
      <string>uni331EV</string>
      <key>uni3342-V</key>
      <string>uni3342V</string>
    </dict>
  </dict>
</plist>
