<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3343</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>0</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>ROS</string>
        <key>value</key>
        <string>Adobe-Identity-0</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>m01</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array/>
    <key>com.schriftgestaltung.iconName</key>
    <string>Light</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>ExtraLight</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni4E49</string>
      <string>uni506F</string>
      <string>uni515D</string>
      <string>uni5406</string>
      <string>uni5478</string>
      <string>uni552C</string>
      <string>uni5537</string>
      <string>uni5555</string>
      <string>uni55B3</string>
      <string>uni55E1</string>
      <string>uni5C44</string>
      <string>uni60E6</string>
      <string>uni6C61</string>
      <string>uni752D</string>
      <string>uni8921</string>
      <string>space</string>
      <string>.notdef</string>
    </array>
  </dict>
</plist>
