<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.schriftgestaltung.appVersion</key>
    <string>3434</string>
    <key>com.schriftgestaltung.axes</key>
    <array>
      <dict>
        <key>name</key>
        <string>Weight</string>
        <key>tag</key>
        <string>wght</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.axesValues</key>
    <array>
      <integer>1000</integer>
    </array>
    <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
    <false/>
    <key>com.schriftgestaltung.font.customParameters</key>
    <array>
      <dict>
        <key>name</key>
        <string>ROS</string>
        <key>value</key>
        <string>Adobe-Identity-0</string>
      </dict>
    </array>
    <key>com.schriftgestaltung.fontMasterID</key>
    <string>94DDBC6A-1627-4027-9125-871D02041BCD</string>
    <key>com.schriftgestaltung.formatVersion</key>
    <integer>3</integer>
    <key>com.schriftgestaltung.glyphOrder</key>
    <array/>
    <key>com.schriftgestaltung.iconName</key>
    <string>Bold</string>
    <key>com.schriftgestaltung.master.name</key>
    <string>Heavy</string>
    <key>com.schriftgestaltung.useNiceNames</key>
    <false/>
    <key>public.glyphOrder</key>
    <array>
      <string>uni4E07</string>
      <string>uni4E08</string>
      <string>uni4E0D</string>
      <string>uni4E14</string>
      <string>uni4E15</string>
      <string>uni4E3B</string>
      <string>uni4E4D</string>
      <string>uni4E4E</string>
      <string>uni4E5E</string>
      <string>uni4E69</string>
      <string>uni4E71</string>
      <string>uni4E88</string>
      <string>uni4ED6</string>
      <string>uni4ED7</string>
      <string>uni4ED8</string>
      <string>uni4EDE</string>
      <string>uni4EDF</string>
      <string>uni4EE3</string>
      <string>uni4EF6</string>
      <string>uni4F0F</string>
      <string>uni4F10</string>
      <string>uni4F2F</string>
      <string>uni4F43</string>
      <string>uni4F5C</string>
      <string>uni4F60</string>
      <string>uni4F70</string>
      <string>uni4F73</string>
      <string>uni4F7B</string>
      <string>uni4F8D</string>
      <string>uni4F91</string>
      <string>uni4F9B</string>
      <string>uni4FC3</string>
      <string>uni4FC4</string>
      <string>uni4FCE</string>
      <string>uni4FD0</string>
      <string>uni4FD1</string>
      <string>uni4FDD</string>
      <string>uni4FF1</string>
      <string>uni501A</string>
      <string>uni5021</string>
      <string>uni5028</string>
      <string>uni5047</string>
      <string>uni5085</string>
      <string>uni50F5</string>
      <string>uni5146</string>
      <string>uni514B</string>
      <string>uni5176</string>
      <string>uni517C</string>
      <string>uni5195</string>
      <string>uni5197</string>
      <string>uni51B0</string>
      <string>uni51E1</string>
      <string>uni51E6</string>
      <string>uni5208</string>
      <string>uni520A</string>
      <string>uni5211</string>
      <string>uni5212</string>
      <string>uni522B</string>
      <string>uni522E</string>
      <string>uni5236</string>
      <string>uni524A</string>
      <string>uni524D</string>
      <string>uni5269</string>
      <string>uni526F</string>
      <string>uni52D2</string>
      <string>uni5347</string>
      <string>uni5357</string>
      <string>uni535C</string>
      <string>uni5360</string>
      <string>uni53CB</string>
      <string>uni53CC</string>
      <string>uni5403</string>
      <string>uni5427</string>
      <string>uni548C</string>
      <string>uni54ED</string>
      <string>uni5514</string>
      <string>uni56FD</string>
      <string>uni5718</string>
      <string>uni5730</string>
      <string>uni5750</string>
      <string>uni5947</string>
      <string>uni5C3A</string>
      <string>uni5F00</string>
      <string>uni5FC5</string>
      <string>uni5FD0</string>
      <string>uni5FEB</string>
      <string>uni601D</string>
      <string>uni609F</string>
      <string>uni60C5</string>
      <string>uni60F3</string>
      <string>uni6210</string>
      <string>uni6211</string>
      <string>uni624B</string>
      <string>uni627E</string>
      <string>uni628A</string>
      <string>uni64AD</string>
      <string>uni65E9</string>
      <string>uni661F</string>
      <string>uni662F</string>
      <string>uni6709</string>
      <string>uni670B</string>
      <string>uni675E</string>
      <string>uni6797</string>
      <string>uni6B63</string>
      <string>uni6C14</string>
      <string>uni6C38</string>
      <string>uni6C5F</string>
      <string>uni6C68</string>
      <string>uni6C9B</string>
      <string>uni6CB3</string>
      <string>uni6D17</string>
      <string>uni6D3B</string>
      <string>uni6D69</string>
      <string>uni706F</string>
      <string>uni70B9</string>
      <string>uni7247</string>
      <string>uni725B</string>
      <string>uni7269</string>
      <string>uni72D7</string>
      <string>uni72D9</string>
      <string>uni732B</string>
      <string>uni767D</string>
      <string>uni76AE</string>
      <string>uni76EE</string>
      <string>uni77E5</string>
      <string>uni79CB</string>
      <string>uni79CD</string>
      <string>uni7FBD</string>
      <string>uni800C</string>
      <string>uni8010</string>
      <string>uni8033</string>
      <string>uni820C</string>
      <string>uni82C5</string>
      <string>uni8349</string>
      <string>uni8DD1</string>
      <string>uni8DF3</string>
      <string>uni90A3</string>
      <string>uni90FD</string>
      <string>uni914D</string>
      <string>uni9175</string>
      <string>uni91CC</string>
      <string>uni9633</string>
      <string>uni9634</string>
      <string>uni96E8</string>
      <string>uni9752</string>
      <string>uni9762</string>
      <string>uni9ED1</string>
      <string>space</string>
      <string>.notdef</string>
    </array>
  </dict>
</plist>
